*{
    margin: 0;
    padding: 0;
    scrollbar-width:none;
    h1{          
      font-size: 30px;
      font-weight: 500;
      color: white;
    }
    .headerbox{
      width: 90%;
      margin-bottom: 30px;
      box-shadow: 0 8px 6px -1px rgba(0, 0, 0, 0.212);
    }
      #headerbox{
        font-size: 35px;
        font-weight: 500;
        color: rgb(125, 55, 143);
        width: 90%;
        display: flex;
        text-align: left;
      }
      #Titlecard{
        font-size: 25px;
        font-weight: 400;
        color: rgb(192, 190, 190);
      }
}
/*Caixa de texto(passar mouse)*/
.redesheader {
  display: flex;
  gap: 10px;
}
.image-container {
  position: relative;
  display: inline-block;
}
.image-container img {
  display: block;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.image-container, #imgskills img{
  display: block;
  width:60px;
  height:60px;
  cursor: pointer;
}
.description {
  visibility: hidden;
  width: 200px;
  background-color: none;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}
.image-container:hover .description {
  visibility: visible;
  opacity: 1;
}
/*Fim das estilizaçoes para caixa de texto*/

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
  background: linear-gradient(
      rgb(0, 0, 0)15%,rgb(36, 9, 34),rgb(58, 26, 57));
  font-family: "Poppins", sans-serif;
  font-style: normal;
}
/* Estilos existentes */
header {
  background: #0000007a;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  width: 90%;
  height: 100px;
  z-index: 1000;
  top: 0;
}

header .menuheader {
  display: flex;
  gap: 20px;
}

header .menuheader a {
  padding: 5px;
  text-decoration: none;
  color: #caadad;
  font-weight: 200;
  cursor: pointer;
}

header .menuheader a:hover {
  background: rgb(128, 26, 148);
  border-radius: 5%;
  box-shadow: 0px 0px 10px rgb(255, 255, 255);
}

header .hamburger {
  display: none;
  font-size: 30px;
  cursor: pointer;
}

/*Responsividade */
@media (max-width: 768px) {
  header {
      padding: 0 20px;
  }

  header .menuheader {
      display: none;
      flex-direction: column;
      gap: 10px;
      width: 100%;
      background-color: #000;
      position: absolute;
      top: 100px;
      left: 0;
      z-index: 1001;
  }

  header .menuheader.show {
      display: flex;
  }

  header .hamburger {
      display: block;
      color: #888;
  }
}

  .box{
    width: 95%; 
    height: 800px;
  }
    #pghome{
      margin-top: 90px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction:column;
      text-align: center;
      /*animation in Page down (end)*/
      .text-animation{
        font-size:54px;
        font-weight: 400;
      }
        .text-animation span{
          position: relative;
        }
          .text-animation span::before{
            content: "";
            color: rgb(57, 15, 85);
            animation: animation 20s infinite;
          }
          .text-animation span::after{
            content: "";
            position: absolute;
            height: 100%;
            border-left: 2px solid rgb(224, 218, 218);
            right: -10px;
            animation: cursor .8s infinite, digite 20s steps(15) infinite;
            width: calc(100% + 17px);
            background-color: black;
          }
    }
    #pgoverview{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction:row;
      text-align: left;

      .txoverview{
        color: #d1cfcf;
        width: 90%;

        #name{
          font-size: 25px;
          font-weight: 400;
        }
        p{
          text-align: justify;
        }
        p, h2{
          font-size: 22px;
          font-weight: 300;
          
        }

      }
    }
    #pgperfil{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction:column;
      text-align: center;
      /*text**/
        h1{
          text-align: center;
          text-align: left;
        }
        h2{/*titulos*/
          font-weight: 200;
          font-size: 20px;
          margin: /*sup*/0 /*dir*/0  /*inf*/10px/*esq*/25px ;
          color: #fff;
        }
        li{/*info*/
          list-style-type: none;
          padding: 5px;
          margin-left: 20px;
          font-size: 15px;
          font-weight: 200;
          color: #f1e8e8
      }
      .conteinerperfil{
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid: 10px;
        width: 90%;
        height: 50%;
        text-align: left;

        .boxleft{/*.Education, .Languages*/
          float: left;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          h2{text-align: center;}
          .educationgrid{
            display:grid;
            grid-template-columns: 1fr 1fr;
          }
          .imgtxt{
            display: flex;
            flex-direction: row;
            align-items: center;
            
            width: 150px;
            img{
              padding: 10px;
            }
            p{
              color: #fff;
            }
          }

          .Languages{
            margin-top: 50px;
          }
            .Education, .Languages{
            margin-top: 50px;
            width: 100%;
            align-items: center;
            h2{margin-bottom: 10px;}
            .boximg{
              display: flex;
              flex-direction:row;
              justify-content: center;
              align-items: center;
              text-align: center;
              
                  img{
                    width: 60px;
                    
                  }
            }

            }
          }

        .boxcenter{/*Skills*/
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;

          h2{text-align: center; margin-bottom: 50px;}

          .HardSkills{
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-content: center;
            height: 100%;
            margin-left: 70px;
            
            .Skills{
              display: grid;
              grid-template-columns: 1fr 1fr 1fr 1fr;

            }
            .otherskills{
              display: grid;
              grid-template-columns: 1fr;
              margin-left: 200px;
              height: 100%;
              width: min-content;
              img{
                width: 30px;
                padding: 20px;
              }
            }
          }
        }
      }

/* MODAL*/
.otherskills img {
  display: block;
  width: 50px; /* Ajuste o tamanho conforme necessário */
  height: 50px;
  cursor: pointer;
}

/* Estilo para o modal */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

/* Estilo para o conteúdo do modal */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  max-width: 500px;
  border-radius: 10px;
  text-align: center;
}

/* Estilo para o botão de fechar */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-google, .modal-microsoft{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 200px;
  justify-content: center;
  align-items: center;
  margin-top: -70px;

  .grid{
    display: flex;
    flex-direction: column;
    align-items: center;

    img{
      height: auto;
      width: 50px;
    }
  }
  }

/*FIM MODAL*/
    
      .hobiesinteresses{
        text-align: center;
        .imagehobbies{
        display: flex;
        flex-direction: row;}
        h2{margin-bottom: 10px;}
        img{
          width: 50px;
        }
    }
      }
    #pgportfolio{
      margin-top: 20px;
      margin-bottom: 25px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .txtportfoliobox{
        width: 90%;
        margin-top: 8px;
        font-size: 19px;
        font-weight: 300;
        color: #d1cfcf;
        text-align: left;
        #headerbox{
          p{
          margin-top: 8px;
          font-size: 19px;
          font-weight: 300;
          color: #d1cfcf;
          }
        }
      }
      .boxportfolio{
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction:row;
        width: 90%;

        .card{
          width: 250px;
          height: 300px;
          background-color: #0f0f0f;
          border-radius: 15px;
          display: flex;
          flex-direction: column;
          overflow: hidden;
          margin: 10px 15px;

          .imagecard{
            width: 100%;
            height: 50%;
            border-bottom:solid .1px #ffffff;
            box-shadow: 0px 0px 10px rgb(111, 40, 119);
            img{
              width: 100%;
              height: 100%;
            }
          }
          .textcard{
            color: #f1e8e8;
            padding: 10px;
            height: 100px;
            font-weight: 300;
            text-align: left;
            font-size: 15px;
          }
        }
      }
      .linkrepo{
        display:flex;
        flex-direction: row-reverse;
        width: 250px;
        z-index: 10;
        position: absolute;
        margin: 10px -15px;
        img{
          width: 40px;
          height: 40px;
        }
        a{
          width: 40px;
          height: 40px;
        }
        a:hover{
          background: rgb(128, 26, 148);
          border-radius: 50%;
          box-shadow: 0px 3px 20px rgb(117, 33, 134);
        }
  
      }
      .languages{
        display:flex;
        flex-direction: row-reverse;
        z-index: 10;
        bottom: 0;
        padding: 5px;
        img{
          width: 30px;
          height: 30px;
        }
        a{
          text-decoration: none;
        }
      }
    }
    #pgcontact{
      display: flex;
      width: 100%;
      justify-content:center;
        .boxcontato{
            width: 90%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

          .contato{
            list-style: none;
            display: grid;
            grid-template-columns: 1fr 5fr;
            float:left ;
            height: 50%;
            justify-content: center;
            align-items: center;
            img{
              width: 25px;
            }
            .information{
              text-align: left;
              justify-items: center;
              line-height: 30px;
            }
              a{
                text-decoration: none;
                color: black;
              }
          }
    }
     }
  footer{
    background-color: #0f0f0f;
    color: #fff;
    padding: 5px;
    text-align: center;
    bottom: 0;
    width: 99.2%;
    font-size: 12px;
    font-weight: 200;
    a{
      text-decoration: none;
      color: #fff;
      font-weight: 200;
      font-size: 12px;
    }
  }
 /*animation*/
 @keyframes animation {
  0%, 20%{
    content: "HELLO WORLD!";
  }
  21%, 40%{
    content: "I'm Front-end developer!";
  }
  41%, 60%{
    content: "I love Code!";
  }
  61%, 80%{
    content: "I love Coffee!";
  }
  81%, 100%{
    content: "Let's go!";
  }
}
@keyframes cursor {
  0%{
      border-left: 2px solid rgb(0, 0, 0);
  }
}
@keyframes digite {
  10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 90%, 95%{
      width: 0;
  }
  5%, 20%, 25%, 40%, 45%, 60%, 65%, 80%, 85%{
      width: calc(100% + 17px);
  }
}
