* {
  margin: 0;
  padding: 0;
  scrollbar-width: none;
  box-sizing: border-box;
}
:root {
  --background-page: rgb(0, 0, 0);
  --background-header: rgb(107, 107, 107);
  --color-all-text: rgb(255, 255, 255);
}
h1{
  font-size: large;
}
body {
  background-color: var(--background-page);
  color: var(--color-all-text);
  width: 100%;
}
header {
  background: var(--background-header);
  border-bottom: #1f2020 solid 1px;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 1000;
  top: 0;
  height: 60px;
}
.language-icons{
  display: flex;
  flex-direction:row;
  gap: 10px;
  z-index: 1001;
  margin-right: 10px;
  svg{
    width: 25px;
  }
}
header .box_logo {
  width: 50px;
  height: 50px;
  margin-left: 2%;
}
header .box_logo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
header .menuheader {
  display: flex;
  gap: 20px;
  margin-right: 5%;
  text-align: center;
}
header .menuheader a {
  padding: 8px;
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  cursor: pointer;
}
header .menuheader a:hover {
  color: #3d0c50;
}
header .hamburger {
  display: none;
  font-size: 30px;
  cursor: pointer;
  margin-right: 5%;
  padding: 9px;
}
.pages {
  width: 100%;
  display: grid;
  place-items: center;
}
.headerbox {
  width: 100%;
  margin-top: 70px;
  margin-bottom: 15px;
}
#headerbox {
  font-size: 35px;
  font-weight: 500;
  color: rgb(104, 59, 146);
  text-align: center;
}

#pghome, #pgabout, #pgportfolio, #pgcontact{
  width: 90%;
}


#pghome {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 150px;
  padding-bottom: 70px;
  width: 100%;
  h1{
    padding-top: 10px;
  }
}
#pghome #name {
  font-size: 27px;
  font-weight: 400;
}
#pghome h1 {
  font-size: 30px;
}
#helloworld {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 50px 0;
}
.text-animation {
  width: 100%;
  font-size: 4vw;
  font-weight: 400;
}
.text-animation span {
  position: relative;
}
.text-animation span::before {
  content: "";
  color: rgb(57, 15, 85);
  animation: animation 20s infinite;
}
.text-animation span::after {
  content: "";
  position: absolute;
  height: 103%;
  border-left: 2px solid rgb(224, 218, 218);
  right: -10px;
  animation: cursor .8s infinite, digite 20s steps(15) infinite;
  width: calc(100% + 17px);
  background-color: var(--background-page);
}
@keyframes animation {
  0%, 20% {
    content: "HELLO WORLD!";
  }
  21%, 40% {
    content: "I'm Andressa!";
  }
  41%, 60% {
    content: "I love Code!";
  }
  61%, 80% {
    content: "I love Coffee!";
  }
  81%, 100% {
    content: "I love Tech world!";
  }
}
@keyframes cursor {
  0% {
    border-left: 2px solid rgb(0, 0, 0);
  }
}
@keyframes digite {
  10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 90%, 95% {
    width: 0;
  }
  5%, 20%, 25%, 40%, 45%, 60%, 65%, 80%, 85% {
    width: calc(100% + 17px);
  }
}
#pgabout {
  font-size: 22px;
  font-weight: 300;
  text-align: center;
  height: fit-content;
  flex-direction: column;
  display: flex;
}
.sobremim{
margin: 50px 0;
height: fit-content;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
p{
  padding:0 50px;
  font-size: 3vh;
}
}
.contentskills{
  height: fit-content;
  p{
    color: #75787a;
    margin-bottom: 10px;
  }
}
.Skills {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;
}
#imgskills SVG {
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.hobbies {
  margin-top: 30px;
  color: #75787a;
}

.hobbies .img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hobbies svg {
  width: 30px;
  padding: 25px 40px;
}


#pgportfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 10px;
  width: 90%;
  h1{
    padding-bottom: 10px;
  }
}

.buttons {
  display: flex;
  gap: 30px;
  place-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.buttons button {
  padding: 8px 15px;
  background-color: #75787a;
}

#items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
  place-items: center;
}

.card {
  width: 350px;
  height: 300px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.imagecard {
  overflow: hidden;
  width: 100%;
  height: 70%;
  border: #1c1d1d 1px solid;
  border-radius: 15px;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;

}
    .imagecard img:hover {
      transform: scale(1.5);
      position:relative;
    }
  

.imagecard img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

#Titlecard {
  font-size: 20px;
  margin-top: 3%;
}


#pgcontact {
  display: flex;
  flex-direction: column;
  min-height: 500px;
}
.conteudocontato {
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  display:flex;
  flex-direction: column;
}
.content-contact{/*media queryes para add espaço qnd em ela menor*/
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
  justify-content: center;

}
.contato {
  list-style: none;
  display: flex;
  align-items: center;
}
.contatoinfos {
  display: flex;
  flex-direction: column;
}
.contato li a {
  text-decoration: none;
  color: #ffffff;
  line-height: 50px;
  font-size:me;
}
.contatoinfos li {
    display: inline-flex;
    align-items: center;
    height: 30px; 
    padding: 10px;
    svg{
      width: 40px;
      padding: 10px;
    }
  }
  .map-contact {
    width: 220px;
    height: 220px; 
    margin: 20px auto; 
    border: 1px solid #000000;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #e7e7e7;  }
  .map-footer iframe {
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 8px;
  }


footer {
  bottom: 0;
  z-index: 1000;
  background: var(--background-header);
  padding: 5px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000000;
}
footer a {
  text-decoration: none;
  color: #000000;
}
footer svg {
  width: 30px;
  padding: 5px;
  height: auto;
}


@media screen and (max-width: 599px) {
  header {
    color: wheat;
  }
  header .menuheader {
    background-color: #555555;
    display: none;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    width: 70%;
    position: absolute;
    top: 60px;
    right: 0;
    z-index: inherit;
  }
  header .hamburger {
    color: white;
    display: block;
  }
  header .menuheader.show {
    display: flex;
  }
  .headerbox {
    width: 100%;
  }
  #headerbox {
    font-size: 30px;
  }
  .content-contact{/*media queryes para add espaço qnd em ela menor*/
    margin-top: 20px;  
  }
}