body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-image: url('https://github.com/AR097/Practice-Web-Development/blob/main/Jogo_da_Cobrinha/image.png?raw=true');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; 
    color: rgb(53, 53, 53);
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

h1 {
    margin-bottom: 20px;
}

canvas {
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.308);
    margin: 0;
    padding: 0;
}
